
div.container {
	width: 100%;
	border: 2px solid gray;
}

.navmenu {
	float: left;
	width:15%;
	border-style:groove;
	margin: 0;
}
.pageinnercontent {
	visibility:hidden;
	width:85%;
	hight:85%;
	border-style:groove;
}
nav ul {
	list-style-type: none;
	padding: 0;
}
nav ul a:link, a:visited, a:hover, a:active {
	background-color: transparent;
	color: black;
	padding: 14px 25px;
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
}

.pageheader {
	height:10%;
	color: white;
	background-color: gray;
	text-align: center;
	clear: left;
	padding: 1em;
}
.pagefooter {
	height:5%;
	width:100%;
	color: white;
	background-color: gray;
	text-align: center;
	clear: left;
	padding: 1em;
	position: absolute; 
	bottom: 0;
}
.pagecontainer {
	height:85%;
}
.container {
	height:100%;
}
.dropdown{
	visibility:hidden;
	background-color: gray;
}
button.populateMenu{
	visibility:hidden;
}
div.mySelect{
	visibility:hidden;
}



